@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#output {
  color: green;
  font-weight: 1000;
}

.buttonStyle {
  padding: 24px;
  color: blue;
}

/* styles/globals.css */

body {
  font-family: var(--font-poppins), sans-serif; /* Use Poppins as default */
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-sans), sans-serif; /* Apply Geist font to headings */
}

pre, code {
  font-family: var(--font-geist-mono), monospace; /* Apply Geist Mono font to code */
}

x/* In your global styles or a relevant CSS file */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
